<div class="text">
    Partner: “Congratulations, detective! Well done! You solved the case. When we arrested Mr Shaw, he told us everything.
    <br>
    <br>
    The victim was working a lot in her garden. She loved her flowers but found them destroyed every now and then. She blamed the neighbors cats for that and therefore she put rat poison all around her garden. The cats were Snowshoe cats. A rare species because of the difficulty of breeding.
    <br>
    <br>
    When the neighbour found out that another one of his cats was poisoned and died he couldn’t hold his anger. He saw the victim standing in the living room and smiling at him and shrugging her shoulders as if she was saying the cats deserve no better.
    <br>
    <br>
    He had enough and with so much anger he grabbed a big rock from the ground and threw it through the window. Unluckily the rock hit her head and she almost immediately died.
    <br>
    <br>
    What a case! Anyway, thank you again, detective! And until the next case!”
</div>

<section>
    <div class="example-button-row">
    <button mat-raised-button onclick="window.location.href='/menu'" color="primary" >Play Again</button>
</div>
</section>