
<h1>
    Mr Shaw: “Hello, detective. What do you want to know from me?”


</h1>
<h3>
    Where were you at around 12 o’ clock?
</h3>
<h5>
Mr Shaw: “I was working from home. Sometimes I do that.

Unfortunately I didn’t have any meetings around that time so no one can vouch for me.” 
</h5>
<h3>
You live right next door. Did you see or hear something around that time?
</h3>
<h5>
Mr Shaw: “No. I didn’t. I was so much into my work that I didn’t pay attention at all to my surroundings.

I am very sorry that I cannot help you with the investigation.”
</h5>
<h3>
We heard from other neighbors that you and Mrs Bloomington didn’t get along well? Something with cats?
</h3>
<h5>
Mr Shaw: “‘Something with cats?’ Ha! They are not your standard normal cats!

They are very special and very difficult to breed! And she was purposely poisoning them!

 … Ehm… but… I mean… it’s nothing too serious to kill for…”
</h5>
<button onclick="window.location.href='./summary-a'">I heard enough</button>
