
<div class="text">
    Partner: “Hello, detective! Before we begin with today’s case.
    <br>
    <br>
    May I know your name?”
</div>
<p>Please write your name here and confirm:</p>

<!-- 
<input type="text" #box (keyup.enter)="onEnter(box.value)" /> -->

<input ref-filter type='text' [(ngModel)]='listFilter' />

<section>
    <div class="example-button-row">
<button mat-raised-button color="primary" [disabled]="listFilter === ''"(click)="ClearText()" onclick="window.location.href='CrimeStoryOnline/name'">Confirm</button>
</div>
</section>