<h1>
    Partner: “Detective, are you done with reading all the information? Good timing! We just got a message from the research lab.

    They received a lot of things to inspect from the crime scene. There might have been a mistake and it is possible that they received something that wasn’t part of our crime scene.
    
    Would you look at the pictures from the crime scene and compare it to the list we got from the lab?
    
    Let me know if you find the item that doesn't belong to our crime scene!”
    
    
    


</h1>
<button onclick="window.location.href='/pictures-scene'">Pictures of the Crime Scene</button>
<button onclick="window.location.href='/list-lab'">List from the Lab</button>
<button onclick="window.location.href='/call-partner'">Call Partner</button>
<button onclick="window.location.href='/hint'">Hint</button>