<div class="text">
    Information about Mr Shaw
    <br>
    <br>
    Mr Shaw, the neighbor of the victim, is 32 years old. He works as a software tester.
    <br>
    <br>
    When the murder took place he worked alone from home so his alibi could not be confirmed.
    <br>
    <br>
    Multiple other neighbors told us about a typical neighborly feud. It seems to be about his cats. 
    
</div>

<section>
    <div class="example-button-row">
    <button mat-raised-button onclick="window.location.href='CrimeStoryOnline/suspects'" color="primary" >Back</button>
</div>
</section>