<h3>
    Crime Scene: 

    The victim is Mrs Bloomington, a 72 year old married woman. She is found dead in her living room and there was a great amount of blood coming from her head. One of the windows of the living room was broken and shattered glass was everywhere around the victim together with a broken wine glass. The backdoor, that leads into the backyard, was open but no signs of a burglary were found. We found a great amount of white powder around the flower garden and a trail of ground coming from the backyard into the living room.
    
    Autopsy:
    
    Mrs Bloomington, a 72 year old female, has been found dead around 12 o’ clock at noon. Her past medical history shows signs of heart issues.
    External examination: There was a traumatic brain injury and fractures of the scalp on the left side above the eye. Her face and hands show multiple small scratches. Some glass particles were found in them, too.
    Internal examination: There was a small amount of alcohol found in her bloodstream. Together with her medication for her heart disease it caused a faster blood loss.
    Cause of death: Blunt force trauma to the head and blood loss.
    
    Suspect A:
    
    Mr Bloomington is 75 years old and is the husband of the victim. Like his wife he is retired. When the murder took place he claims to have been on a walk at the nearby park although no one could be found to confirm that. Multiple people from his family and friends mentioned that they had some problems with their marriage and that they had a lot of fights in the last weeks. Mr Bloomington found out that she had an affair and is still emotional about it. He says that he found Mrs Bloomington in the living room after he entered through the backdoor. He called 911 at around 1 o’ clock in the afternoon.
    
    Suspect B:
    
    Mr Shaw is 32 years old and is the neighbor of the victim. He works as a software tester. He worked at the time of the murder alone from home so his alibi could not be confirmed. Multiple other neighbors told us about a typical neighborly feud. It seems to be about his cats. He thinks that Mrs Bloomington was poisoning his special cat breed and seems quite emotional about it.
    
    Lab:
    
    On the murder weapon was not only DNA found of the victim but also of an animal. It is cat hair that they found. From the Snowshoe cat breed.
    
</h3>
<button onclick="window.location.href='./lab-result'">Back</button>
<button onclick="window.location.href='./how'">Continue</button>