<div class="text">
    The victim is Mrs Bloomington, a 72 year old married woman. She is found dead in her living room and there was a great amount of blood coming from her head. 
    <br>
    <br>
    One of the windows of the living room was broken and shattered glass was everywhere around the victim together with a broken wine glass.
    <br>
    <br>
    The backdoor, that leads into the backyard, was open but no signs of a burglary were found. We found a great amount of white powder around the flower garden and a trail of ground coming from the backyard into the living room.
</div>

<section>
    <div class="example-button-row">
    <button mat-raised-button onclick="window.location.href='/info-crime'" color="primary" >Continue</button>
</div>
</section>