<div class="text">
    In this game you will have to solve a murder case. There will be two suspects and you will have to get to know which one murdered the victim.
    <br>
    <br>
    We will provide you with information about the crime scene, the suspects, the autopsy and lab results. Of course, you will have to do some work too.
    <br>
    <br>
    Read carefully and pay attention to every detail! You never know what information might be relevant later on. Find all the clues to know who did it, how they did it and why.
    <br>
    <br>
    This is necessary to solve the case and arrest the murderer!
</div>

<section>
    <div class="example-button-row">
    <button mat-raised-button onclick="window.location.href='/menu'" >Back</button>
</div>
</section>
