<div class="text">
    Partner: “Hey detective. You took some time questioning your suspect. I hope you gathered a lot of information! Let us discuss what we got to know from both the suspects. So, here is how my interrogation went: ”

</div>
<div class="background-box">
<div class="subtext">
    Mr Bloomington: “Good evening, detective. I am busy preparing the funeral, so I don’t have much time. What is it that you want to ask me?”
    <br>
    <br>
    Partner: “Where were you at around 12 o’ clock?”
    <br>
    <br>
    Mr Bloomington: “I already told my story! I was walking in the park. It is nearby so now and then I walk there and then I sit there on a bench, feed some ducks and watch over the lake. I like it to be silent so I go to a place that is not often visited. Not even around lunch time! I guess that’s why no one could have seen me.”
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    Partner: ”We heard that you had a lot of fights with Mrs Bloomington. What was it all about?”
    <br>
    <br>
    Mr Bloomington: “You heard that from my kids? Yeah, our marriage wasn’t like it used to be. Especially not after I found out that she had an affair with one of my friends! It was a few years ago but I still can’t get over it!”
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    Partner: “How did you find Mrs Bloomington?”
    <br>
    <br>
    Mr Bloomington: “When I came back from the walk. I came in from the back and into the living room. There I found her with A LOT of blood. I didn’t know what to do and I honestly can’t remember clearly what I did then. I just know that I checked for a pulse and called 911. But I don’t know what I told them. I just know that I realized pretty quickly that I lost her and that I regret that the last thing we did together was fighting.”
</div>
</div>

<section>
    <div class="example-button-row">
    <button mat-raised-button onclick="window.location.href='CrimeStoryOnline/lab-result'" color="primary" >Continue</button>
</div>
</section>