<div class="text">
    Partner: “Hey detective. You took some time questioning your suspect. I hope you gathered a lot of information! Let us discuss what we got to know from both the suspects. So, here is how my interrogation went: ”

</div>
<div class="background-box">
    <div class="subtext">
    Mr Shaw: “I was working from home. Sometimes I do that. Unfortunately I didn’t have any meetings around that time so no one can vouch for me.” 
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    Partner: “You live right next door. Did you see or hear something around that time?”
    <br>
    <br>
    Mr Shaw: “No. I didn’t. I was so much into my work that I didn’t pay attention at all to my surroundings. I am very sorry that I cannot help you with the investigation.”
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    Partner: “We heard from other neighbors that you and Mrs Bloomington didn’t get along well? Something with cats?”
    <br>
    <br>
    Mr Shaw: “‘Something with cats?’ Ha! They are not your standard normal cats!
    They are very special and very difficult to breed! And she was purposely poisoning them!
     … Ehm… but… I mean… it’s nothing too serious to kill for…”
</div>
    </div>

<section>
    <div class="example-button-row">
    <button mat-raised-button onclick="window.location.href='/lab-result'" color="primary" >Continue</button>
</div>
</section>