<h1>
    Autopsy Report of Mrs Bloomington

    Mrs Bloomington, a 72 year old female, has been found dead around 12 o’ clock at noon. Her past medical history shows signs of heart issues.
    
    External examination:
    There was a traumatic brain injury and fractures of the scalp on the left side above the eye. Her face and hands show multiple small scratches. Some glass particles were found in them, too.
    
    Internal examination: 
    There was a small amount of alcohol found in her bloodstream. Together with her medication for her heart disease it caused a faster blood loss.
    
    Cause of death:
    Blunt force trauma to the head and blood loss.
    
    


</h1>
<button onclick="window.location.href='/problem'">Continue</button>