<h1>
    Partner: “There are two suspects: Mr Bloomington, the husband, and Mr Shaw, the neighbour. 

    There seems no one else who knew the victim and had the opportunity and the motive to kill Mrs Bloomington.
    
    About whom would you like to know more first?”
    


</h1>
<button onclick="window.location.href='/suspect-a'" (click)="actionMethod($event)" class="btn btn-primary">Mr Bloomington</button>
<button onclick="window.location.href='/suspect-b'">Mr Shaw</button>

<p>If you are finished with both suspects go further with the autopsy:</p>
<button onclick="window.location.href='/autopsy'">Autopsy</button>