<h1>
    Partner: “Thank you, detective! I don’t know how that happened.

    The baseball bat and ball would have been a match to the broken glass and to her head injury but we didn’t find such items anywhere near the crime scene.
    
    Anyway, the lab can continue with their research. I think we should ask them to start with one particular item.
    
    From all the information we gathered, so far, I think there is one specific item that we need to ask for. Wouldn’t you agree?
    
    Let me know if we think the same.”
    
</h1>
<h3>
    I think we should start with...
</h3>
<div>
    <input type="radio" id="brokenWineGlass" name="drone" value="brokenWineGlass"
           checked>
    <label for="brokenWineGlass">The Broken Wine </label>
  </div>
  
  <div>
    <input type="radio" id="bloodyStone" name="drone" value="bloodyStone">
    <label for="bloodyStone">The Bloody Stone</label>
  </div>
  
  <div>
    <input type="radio" id="brokenWindow" name="drone" value="brokenWindow">
    <label for="brokenWindow">The Broken Window Fragments</label>
  </div>
  <button onclick="window.location.href='/questioning'">Confirm</button>