<div class="text">
    Partner: “Thank you, detective! I don’t know how that happened.
    <br>
    <br>
    The baseball bat and ball would have been a match to the broken glass and to her head injury but we didn’t find such items anywhere near the crime scene.
    <br>
    <br>
    Anyway, the lab can continue with their research. I think we should ask them to start with one particular item.
    <br>
    <br>
    From all the information we gathered, so far, I think there is one specific item that we need to ask for. Wouldn’t you agree?
    <br>
    <br>
    Let me know if we think the same.”
</div>
<p>
  I think we should start with...
</p>

<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="selected">
  <mat-radio-button class="example-radio-button" *ngFor="let item of items" [value]="item">
    <span class="wrap-mat-radio-label">
    {{item}}
  </span>
  </mat-radio-button>
</mat-radio-group>
<section>
  <div class="example-button-row">
  <button mat-raised-button (click)="checkAnswer(selected)" >Confirm</button>
</div>
</section>

<div [hidden] = "answer == 'wrong'">
  <p>Yes! This was the right answer! You can go to the next page:</p>
  <button mat-raised-button onclick="window.location.href='CrimeStoryOnline/questioning'" color="primary" >Next Page</button>
</div>


