<h1>
    Partner: “Are you ready to arrest the suspect? To make sure we have the right one we have to know how the victim was murdered.

    So, can you tell me how the victim died?”
    
</h1>
<h3>
    Choose one of these options:
</h3>
<div>
    <input type="radio" id="wineGlass" name="drone" value="wineGlass"
           checked>
    <label for="wineGlass">The victim was hit with a wine glass that was found near the body. </label>
  </div>
  
  <div>
    <input type="radio" id="stone" name="drone" value="stone">
    <label for="stone">The victim was hit by a stone that was thrown through the window.</label>
  </div>
  
  <div>
    <input type="radio" id="baseballBat" name="drone" value="baseballBat">
    <label for="baseballBat">The victim was hit with a baseball bat that was found in the hallway.</label>
  </div>
  <button onclick="window.location.href='/who'">Confirm</button>