<div class="text">
  List of Items:
  <div class="background-box">
  <table #table [hidden]="viewMode == 'hidden'">
    <tr>
      <th>Item ID</th>
      <th>Item Name</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Bloody Stone</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Broken Wine Glass</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Baseball Bat and Ball</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Broken Window Fragments</td>
    </tr>
  </table>
</div>
</div>

<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="loadList()">Load List</button>
  <button mat-raised-button onclick="window.location.href='/problem'">Back</button>
</div>
</section>