<div class="text">
    Partner: “Did you figure out which of the items doesn't belong to our crime scene?”
</div>
<p>
    Please choose the item that you think is wrongfully on the list:
</p>

<mat-form-field appearance="fill">
  <mat-label>Select an option</mat-label>
  <mat-select [(value)]="selected">
    <mat-option value="bloodyStone">Bloody Stone</mat-option>
    <mat-option value="brokenWineGlass">Broken Wine Glass</mat-option>
    <mat-option value="baseball" >Baseball Bat and Ball</mat-option>
    <mat-option value="brokenWindow">Broken Window Fragments</mat-option>
  </mat-select>
</mat-form-field>


<section>
  <div class="example-button-row">
  <button mat-raised-button (click)="checkAnswer(selected)" >Confirm</button>
</div>
</section>
<div [hidden] = "answer == 'wrong'">
  <p>Yes! This was the right answer! You can go to the next page:</p>
  <button mat-raised-button onclick="window.location.href='CrimeStoryOnline/problem-solved'" color="primary" >Next Page</button>
</div>


