<div class="text">
    Partner: “Nice work, detective! You never disappoint me. I will tell the lab to start with the rock.
    <br>
    <br>
    While we wait for the result. Would you like to ask some questions to one of the suspects? I can ask the other one.”
</div>
<section>
    <div class="example-button-row">
    <button mat-raised-button onclick="window.location.href='CrimeStoryOnline/questioning-a'" color="primary" >Questioning Mr Bloomington</button>
    <button mat-raised-button onclick="window.location.href='CrimeStoryOnline/questioning-b'" color="primary">Questioning Mr Shaw</button>
</div>
</section>