<div class="text">
    Information about Mr Bloomington
    <br>
    <br>
    Mr Bloomington, the husband of the victim, is 75 years old. Like his wife he is retired.
    <br>
    <br>
    When the murder took place he claims to have been on a walk at the nearby park although no one could be found to confirm that.
    <br>
    <br>
    Multiple people from his family and friends mentioned that they had some problems with their marriage and that they had a lot of fights in the last weeks.

</div>

<section>
    <div class="example-button-row">
    <button mat-raised-button onclick="window.location.href='/suspects'" color="primary" >Back</button>
</div>
</section>