<style>
  .wrap-mat-radio-label {
      white-space: normal;
  }
</style>

<div class="text">
    Partner: “Yes, that is indeed the murder weapon that was used!
    <br>
    <br>
    Now the only question left is who did it and why. I am sure you know this answer, too.”
    
</div>
<p>
  Choose one of these options:
</p>

<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="selected">
  <mat-radio-button class="example-radio-button" *ngFor="let item of items" [value]="item">
    <span class="wrap-mat-radio-label">
    {{item}}
  </span>
  </mat-radio-button>
</mat-radio-group>
<section>
  <div class="example-button-row">
  <button mat-raised-button (click)="checkAnswer(selected)" >Confirm</button>
</div>
</section>

<div [hidden] = "answer == 'wrong'">
  <p>Yes! This was the right answer! You can go to the next page:</p>
  <button mat-raised-button onclick="window.location.href='/end'" color="primary" >Next Page</button>
</div>
