<h1>
    Partner: “Yes, that is indeed the murder weapon that was used!

    Now the only question left is who did it and why. I am sure you know this answer, too.”
    
</h1>
<h3>
    Choose one of these options:
</h3>
<div>
    <input type="radio" id="neighbor" name="drone" value="neighbor"
           checked>
    <label for="neighbour">It was the neighbour. He was so angry at the victim because she poisoned his cats.</label>
  </div>
  
  <div>
    <input type="radio" id="husband" name="drone" value="husband">
    <label for="husband">It was her husband. Their marriage didn’t go well and he found out about her affairs.
    </label>
  </div>
  <button onclick="window.location.href='/end'">Confirm</button>